{erl_opts, [debug_info]}.
{deps, [
       ]}.

{profiles,
    [
     {test,
         [
          {deps,
              [
               {katt,
                   {git,
                       "git@github.com:tothlac/katt.git",
                       {branch,"master"}}}
              ]}]}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [try_katt]}
]}.
